# Ignore all .log files
*.log
*.iter
*.toml

# Ignore node_modules directory
node_modules/

# ignore __pycache__ directory
__pycache__/

# ignore scratch.ipynb files
scratch.ipynb

# Ignore macOS system files
.DS_Store